.navbar {
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between logo and menu */
  padding: 10px 20px; /* Add padding to the sides */
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 20px; /* Add margin to the left for spacing */
}

.navbar-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar-item a:hover {
  background-color: #ddd;
  color: black;
}